.artworkCard {
  background-color: rgb(209, 209, 209);
  border: solid rgb(209, 209, 209) 2px;

  .artworkImg {
    img {
      width: 100%;
    }
  }
  .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
