.artworkCard {
  // background-color: rgb(209, 209, 209);
  background-color: rgb(86, 243, 86);
  border: solid rgb(25, 149, 25) 2px;

  &__artworkImg {
    img {
      width: 100%;
    }
  }
  &__textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
